[submodule "packages/custodia"]
	path = packages/custodia
	url = https://github.com/latchset/custodia.git
[submodule "packages/freeipa"]
	path = packages/freeipa
	url = https://github.com/freeipa/freeipa.git
[submodule "packages/python-nss"]
	path = packages/python-nss
	url = https://github.com/tiran/python-nss.git
	branch = wheel
