sudo: required
language: python

services:
  - docker

compiler:
  - clang
  - gcc

env:
  - DISTRO=f24
  - DISTRO=f25
  - DISTRO=f26
  - DISTRO=yakkety

before_install:
  - docker info
  - git submodule update --init --recursive
  # in daily cron builds, update all submodules to latest revision
  - if test $TRAVIS_EVENT_TYPE = "cron"; then git submodule update --recursive --remote; fi
  - git submodule

script:
  - make baseimage DISTRO=$DISTRO
  - make buildimage DISTRO=$DISTRO
  - make app DISTRO=$DISTRO
  - make dockertest DISTRO=$DISTRO
